@model List<AvaliacaoLP3_3BIM.ViewModels.LojasViewModel>

@{
    ViewData["Title"] = "Loja";
}

<div class="text-center">
    <h1 class="display-4">Bem vinde ao Gucci's Shopping Central</h1>
    <h3 class="display-4">Lojas disponíveis no momento:</h3>

    @if (Model.Count == 0)
    {
        <p>Nenhuma loja cadastrada</p>
        <button> <a href="/Lojas/CadastrarLoja">Cadastrar nova loja</a></button>
    }
    else
    {

        @foreach (var loja in Model)
        {
            <h3>
                <a href="/Lojas/Detalhes/@loja.Id">@loja.Nome</a>
            </h3>
            <p>@loja.Piso</p>
            <p>@loja.TipoLoja</p>
            <hr>
        }

        <button> <a href="/Lojas/CadastrarLoja">Cadastrar nova loja</a></button>
    }
</div>
