@{
    ViewData["Title"] = "Erro";
    var nome = ViewData["nome"];
}
<div class="text-center">
    <h1 class="display-4">Uma loja nomeada de "@nome" jรก foi cadastrada, por favor selecione outro nome.</h1>
</div>